<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">



    <context:component-scan base-package="se.lexicon.simon.*"/>

    <!--
    <bean id="accountDao" class="se.lexicon.simon.data.dao.AccountDaoImpl"/>
    <bean id="customerDao" class="se.lexicon.simon.data.dao.CustomerDaoImpl"/>


    <bean id="factory" class="se.lexicon.simon.service.FactoryImpl">
        <constructor-arg ref="accountDao"/>
        <constructor-arg ref="customerDao"/>
    </bean>

    <bean id="transaction" class="se.lexicon.simon.service.InternalTransaction">
        <property name="accountDao" ref="accountDao"/>
        <property name="customerDao" ref="customerDao"/>
    </bean> -->










    
</beans>





